<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1><a href="{{url_for('get_index')}}">examist</a></h1>
        <nav>
            <ul>
                <li><a href="#">institutions</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
</div>
</body>
</html>