{% macro question(_question, first=False) %}
<section class="question {% if first %}first{% endif %}" id="Q{{_question.path | join('.')}}">
    <header>
        <h4 class="index index-question"><span class="dot"></span> <a href="#Q{{_question.path | join('.')}}">{{_question.pretty_path[-1]}}</a></h4>
    </header>
    {% if _question.content and _question.content | trim %}
    <div class="content">
        <p>{{_question.content | replace("\uFFFD", "")}}</p>
        {% set similar = _question.get_similar() %}
        {% if (similar | length) > 1%}
            <div class="similar">
            {%- for __question in (similar | sort(reverse=True, attribute='similarity')) -%}
                {% if __question.question.id != _question.id and loop.index < 5 %}
                    <h4 class="index index-similar"><a href="{{url_for('get_paper', module=__question.question.paper.module.code, year=__question.question.paper.year_start, period=__question.question.paper.period)}}#Q{{__question.question.path | join(".")}}">{{__question.question.paper.get_short_period()}} {{__question.question.paper.year_start}} {{ __question.question.pretty_path | join(" ")}} ({{ "%.f" | format(__question.similarity * 100) }}%)</a></h4>
                {% endif %}
            {%- endfor -%}
            <h4 class="index index-similar"><a href="#">View all</a></h4>
            </div>
        {% endif %}
    </div>
    {% endif %}

    {% if _question.children | length > 0 %}
    <div class="children">
        {% for __question in _question.children | sort(attribute='path') %}
            {{ question(__question, first=loop.first) }}
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endmacro %}