@import 'font/kfa/stylesheet.css';
@import 'font/avn/stylesheet.css';

* { box-sizing: border-box }

$font-reading: "Kfa";
$font-display: "Avn";

$theme-light-grey: #E2E2E2;
$theme-grey: #777;
$theme-blue: #418EE5;
$theme-green: #B0E57C;
$theme-orange: #F5A623;
$theme-red: #FFAEAE;

$theme-border-radius: 8px;

$theme-unindexed: #B4D8E7;
$theme-unavailable: $theme-red;
$theme-unparseable: darken(#FFF0AA, 10%);
$theme-available: $theme-green;
$theme-similar: $theme-green;
$theme-question: $theme-blue;

$theme-action: $theme-blue;
$theme-active: $theme-green;
$theme-inactive: $theme-light-grey;
$theme-cancel: $theme-red;

body {
    font-family: $font-reading, sans-serif;
    background: #FAFAFA;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin: 0;

    a {
        color: $theme-blue;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid $theme-blue;
        }

        outline: none;
    }
}

strike {
    color: rgba(0,0,0,0.4);
}

section {
    background: #fff;
    padding: 12px;
}

textarea {
    width: 100%;
    padding: 8px;
    font-size: 100%;
    border: 3px solid lighten($theme-action, 10%);
    background: #fff;
    border-radius: 6px;
    font-family: $font-reading;
    outline: none;
    min-height: 120px;
}

.center { text-align: center; }
.right { text-align: right; }
.faded { color: rgba(0,0,0,0.3); }
.padded { padding: 16px; }

article {
    padding: 12px;

    h1 {
        font-size: 200%;
        margin: 18px;
    }

    h2 {
        font-size: 140%;
        margin: 12px 0;
    }
}

.grid {
    display: flex;

    .grid-flex {
        flex: 1;
    }
}

.button {
    border: 3px solid darken($theme-action, 8%);
    background: $theme-action;
    color: #fff;
    border-radius: 30px;
    padding: 2px 6px;
    font-size: 70%;
    font-family: $font-reading;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;

    &.button-active {
        background: $theme-active;
        border-color: darken($theme-active, 10%);
        color: darken($theme-active, 40%);
    }

    &.button-inactive {
        background: $theme-inactive;
        border-color: darken($theme-inactive, 10%);
        color: darken($theme-inactive, 30%);
    }

    &.button-cancel {
        background: $theme-cancel;
        border-color: darken($theme-cancel, 10%);
        color: darken($theme-cancel, 50%);
    }
}

.header {
    display: flex;
    justify-content: space-between;

    h1 {
        margin: 12px;

        a {
            color: inherit;
            border: none;
        }
    }

    nav {
        li {
            display: inline-block;
            margin: 0 12px;
            font-size: 140%;
            font-family: $font-display;
        }
    }
}

.footer {
    margin-top: 30px;

    p {
        font-size: 80%;
        color: darken($theme-light-grey, 20%);

        a { 
            color: inherit;
            text-decoration: underline;

            &:hover {
                border: none;
            }
        }
    }
}

.container {
    width: 940px;
    margin: 0 auto;
}

.module, .modules {
    header {
        display: flex;
        justify-content: space-between;
        font-size: 180%;
        margin: 12px 0;

        h2 {
            font-family: $font-display;
            color: $theme-light-grey;
            font-weight: 400;
        }

        h3 {
            flex: 1;
            text-align: right;
            padding-top: 10px;
            font-size: 124%;
        }
    }

    h5 {
        $color: lighten($theme-blue, 30%);
        text-align: center;
        font-size: 150%;
        font-weight: 500;
        font-family: $font-display;
        color: $theme-blue;
        border-top: 2px solid $color;
        border-bottom: 2px solid #fff;
        box-shadow: 0 -2px 0 #fff, 0 2px 0 $color;
        margin: 40px 30%;
        padding: 8px;
    }
}

.module {
    .error {
        margin-top: 60px;
    }
}

.modules {
    .list {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }

    .indexed {
        background-color: $theme-available;
        border-radius: 6px;
    }
}

.papers {
    table {
        width: 100%;

        tr {
            th, td { 
                padding: 4px 0; 
            }

            th {
                font-family: $font-display;
                font-weight: bold;
                color: $theme-blue;
                font-size: 130%;
            }

            th:first-child {
                text-transform: uppercase;
                text-align: right;
                padding-right: 8px;
            }

            td {
                text-align: center;
            }

            td:first-child {
                text-align: right;
                font-family: $font-display;
                font-weight: 400;
                color: $theme-grey;
                padding-right: 8px;
            }
        }
    }
}

$theme-dot-radius: 8px;
$theme-dot-diameter: $theme-dot-radius * 2;

.dot {
    display: inline-block;
    width: $theme-dot-diameter;
    height: $theme-dot-diameter;
    background-color: $theme-light-grey;
    border-radius: $theme-dot-diameter;
}

a.dot {
    &:hover {
        transform: scale(1.5);
        border: none;

        &:after {
            position: absolute;
            width: $theme-dot-diameter;
            height: $theme-dot-diameter;
            background: blue;
        }

        &:before {
            content: attr(data-status);
            font-family: $font-display;
            font-size: 30%;
            background: $theme-grey;
            height: $theme-dot-diameter - 2px;
            color: $theme-grey;
            position: absolute;
            padding-top: 2px;
            padding-right: $theme-dot-radius;
            border-top-right-radius: $theme-dot-radius;
            border-bottom-right-radius: $theme-dot-radius;
            color: rgba(0,0,0,0.5);
        }
    }

    &.available { background-color: $theme-available; }
    &.unavailable { background-color: $theme-unavailable; }
    &.unparseable { background-color: $theme-unparseable; }
    &.unindexed { background-color: $theme-unindexed; }

    &.available:before { background-color: $theme-available; }
    &.unavailable:before { background-color: $theme-unavailable; }
    &.unparseable:before { background-color: $theme-unparseable; }
    &.unindexed:before { background-color: $theme-unindexed; }

    &.current {
        border: 4px solid $theme-blue;
        transform: scale(2.4);

        &:hover:before { display: none }
    }
}

.index {
    font-family: $font-reading;
    background-color: #fff;
    border-radius: 60px;
    border: 4px solid $theme-light-grey;
    color: $theme-light-grey;
    padding: 2px 12px 2px 6px;
    font-weight: normal;
    position: relative;
    z-index: 1;

    a {
        color: inherit;
        border: none;
    }

    .dot {
        vertical-align: 0%;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin-right: 6px;
    }

    &.index-question {
        background-color: $theme-question;
        border-color: darken($theme-question, 15%);
        color: #fff;
    }

    &.index-similar {
        background-color: $theme-similar;
        border-color: darken($theme-similar, 15%);
        color: darken($theme-similar, 30%);

        .dot {
            background-color: darken($theme-similar, 30%);
        }
    }

    .path {
        margin-right: 4px;
    }

    .path:last-child {
        margin-right: 0;
    }
}

.question {
    $theme-border-color: #E5E5E5;
    $theme-outer-border-color: $theme-border-color;
    $theme-border-width: 4px;
    $theme-gutter-width: 18px;

    border: $theme-border-width solid $theme-outer-border-color;
    margin-top: 30px;
    padding: 0;

    header {
        margin: 0;
        margin-top: -18px;
        margin-left: -15px;
        margin-bottom: 12px;
        font-size: 100%;
        position: relative;
        display: flex;
        justify-content: flex-start;

        .index a {
            color: inherit;
        }

        .controls {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            margin-left: 8px;

            .button {
                margin-right: 4px;
            }
        }
    }


    .content {
        padding: 6px 12px 12px 12px;

        p {
            margin: 0;
        }
    }

    .detail {
        display: flex;
        justify-content: flex-start;
        margin-top: 12px;

        .button {
            margin-right: 8px;
        }

        .similar {
            .button {
                opacity: 0.6;
                margin-right: 4px;

                &:hover {
                    opacity: 1;
                }
            }
        }

        p {
            color: darken($theme-active, 15%);
            font-size: 80%;
            padding: 4px 0;

            a {
                color: inherit;
                text-decoration: underline;

                &:hover { border: none; }
            }
        }
    }

    .question {
        border: none;
        margin-left: $theme-gutter-width;
        margin-top: 0;
        box-shadow: -18px 0 0 lighten($theme-border-color, 8%);
        border-left: 4px solid $theme-border-color;

        header {
            margin-top: 0;
        }
    }

    &.first > header {
        $tri-margin-top: -4px;
        $tri-margin-left: -7px;
        
        &:before {
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            top: $tri-margin-top;
            left: $tri-margin-left;
            border-style: solid;
            border-color: transparent transparent transparent $theme-border-color;
            border-width: ($theme-gutter-width + 5) 0 0 ($theme-gutter-width + 5);
        }

        &:after {
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            left: $tri-margin-left;
            top: $tri-margin-top + ($theme-border-width * 1.4);
            border-style: solid;
            border-color: transparent transparent transparent lighten($theme-border-color, 8%);
            border-width: $theme-gutter-width 0 0 $theme-gutter-width;
        }
    }

    form {
        .button {
            font-size: 80%;
        }
    }

    &.similar {
        background-color: lighten($theme-similar, 25%);

        .content p {
            color: darken($theme-similar, 50%);
        }
    }
}

:target {
    background-color: lighten($theme-blue, 38%);
}

.error-page {
    .error {
        margin-top: 240px;
    }
}

.error {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 12px;
    color: rgba(0,0,0,0.6);
    font-family: $font-display;

    h3 {
        font-size: 140%;
        margin-bottom: 8px;
    }

    p {
        margin: 0;
    }

    &.unavailable { background-color: $theme-unavailable }
    &.unparseable { background-color: $theme-unparseable; }
}