* { box-sizing: border-box }

body {
    font-family: "Source Sans Pro", sans-serif;
}

a {
    $color: darken(#006699, 0%);
    color: $color;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid $color;
    }
}

table {
    td {
        padding: 6px;
    }
}

nav {
    a {
        display: inline-block;
        margin: 12px;
    }
}

.categories {
    strike {
        color: #ccc;
    }
}

.question {
    display: flex;

    h4 {
        text-align: right;
        width: 80px;
        padding: 0 8px;
    }

    .content {
        flex: 1;

        p {
            font-family: "Droid Serif", serif;
        }
    }

    .similar a { 
        display: inline-block; 
        padding: 4px 8px; 
    }
}

.analysis {
    section {
        display: flex;
    }

    .question {
        flex: 1;
    }

    .stats {
        width: 60%;

        table {
            width: 100%;

            tr td {
                padding: 4px;
                vertical-align: top;
                text-align: center;
            }

            tr:first-child td {
                font-weight: bold;
                font-size: 120%;
            }

            tr td:first-child {
                width: 80px;
                text-align: right;
                font-weight: normal;
                font-size: 100%;
            }      

            td {
                p {
                    font-size: 12px;
                    color: black;
                    padding: 4px;
                    font-size: 110%;
                    margin: 0;
                }

                i {
                    font-size: 12px;
                }

                .period-summer { background-color: gold; }
                .period-winter { background-color: LightSkyBlue; }
                .period-autumn { background-color: Sienna; }
                .period-spring { background-color: MediumSeaGreen; }
            }
        }
    }
}

.modules {
    a {
        display: inline-block;
        padding: 8px;

        &.indexed {
            background: #B0E57C;
            border-radius: 6px;
        }
    }
}

.module {
    .not-indexed { background: #B4D8E7; }
    .not-available { background: #FFF0AA; }
    .not-parseable { background: #FFAEAE; }
    .available { background: #B0E57C; }
}