{% extends 'views/base.html' %}

{% block title %}{{module.code}} Analysis{% endblock %}
{% block page_title %}{{module.code}} Analysis on the {{paper.year_start}} {{paper.period}} paper{% endblock %}

{% block back_title %}{{module.code}}{% endblock %}
{% block back_link %}{{ url_for('get_module', module=module.code) }}{% endblock %}

{% block body %}
<div class="analysis">
    <p>Below is the similarity analysis comparing all the questions from the {{paper.year_start}} {{paper.period}} (<a href="{{ paper.get_link(module, format='pdf') }}">PDF</a>) to all the questions (we managed to index) in the {{module.code}} module. </p>

    {% for item in analysis %}
    <section>
        <div class="question">
            <h4 style="width: {{ (item.question.path | length) * 30 }}px">{% for i in item.question.pretty_path %}<span>{{i}}.</span>{% endfor %}</h4>
            <p>{{item.question.content}}</p>
        </div>
        <div class="stats">
            <table>
                <tr><td>Paper</td>{% for year, ps in item.papers.iteritems() %}<td>{{year}}</td>{% endfor %}</tr>
                <tr><td>Question</td>{% for year, subpapers in item.papers.iteritems() -%}
                    <td>{% for suba in (subpapers | sort(attribute='similarity', reverse=True)) -%}
                        <p class="period-{{suba.paper.period | lower}}">
                            <a href="{{ suba.paper.get_link(module) }}#Q{{ suba.question.path | join('.') }}">{% for i in suba.question.pretty_path %}<span>{{i}}.</span>{% endfor %}</a><br>
                        <i>({{ "%.f" | format(suba.similarity * 100) }}% similar)</i></p>
                    {%- endfor %}</td>
                {%- endfor %}</tr>
            </table>
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}