<!DOCTYPE html>
<html>
<head>
    <title>{{module}} Analysis</title>
</head>
<body>
<h1>{{module}}</h1>
{% for question in analysis %}
    <p><strong>{{question.question | join(".")}}</strong> {{question.content}}</p>
    <ul>
        <!-- <p><strong>1. a. ii.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
        <table>
            <th><td>Paper</td><td>2007</td><td>2008</td><td>2009</td><td>2010</td><td>2011</td></th>
            <tr><td></td></tr>
        </table> -->
        {% for paper in question.papers %}
        <li>{{paper.years[0]}} Sitting [{{paper.sitting}}] {{paper.question | join(".")}} ({{paper.id}})</li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>