{% import 'views/question.html' as question %}
{% extends 'views/base.html' %}

{% block title %}{{ module.code }} - {{ module.name }}{% endblock %}

{% block body %}
<div class="module">
    <header>
        <h2><strong><a href="{{url_for('get_institution', institution=module.category.institution.code)}}">{{module.category.institution.code}}</a></strong>/<a href="{{ url_for('list_category_modules', category=module.category.code) }}">{{module.category.code}}</a>/<a href="{{ url_for('get_module', module=module.code) }}">{{module.code | replace(module.category.code, "") }}</a></h2>
        <h3>{{module.name}}</h3>
    </header>
    <section class="papers">
        <table>
            <tr><th>Paper</th>{% for year in range(2005, 2015) %}<th>{{year}}</th>{% endfor %}</tr>
            {% set papers = module.get_grouped_papers() %}
            {% for period, group in papers | dictsort | reverse %}    
                <tr><td>{{period}}</td>{% for year in range(2005, 2015) -%}
                    {% set _paper = group[year] %}

                    <td>{% if not _paper -%}
                        <span class="dot"></span>
                    {%- else -%}
                        {% set status = _paper.get_status() %}
                        {% set current = paper and _paper is sameas paper %}
                        {% if current and status != 'unavailable' %}{% set format = 'pdf' %}{% else %}{% set format = 'html' %}{% endif %}
                        <a data-status="{{status | capitalize }}" class="dot {{ status }} {% if current %}current{% endif %}" href="{{url_for('get_paper', module=module.code, year=year, period=period, format=format)}}" {% if format == 'pdf' %}target="_blank" title="View PDF"{% endif %}></a>
                    {%- endif %}</td>
                {%- endfor %}</tr>
            {% endfor %}
        </table>
    </section>

    {% block module_content %}
        {% if popular %}
            <h5>Popular questions in {{module.code}}</h5>
            {% for question, similarity in popular %}
                {{ question.main(question, first=loop.first) }}
            {% endfor %}
        {% else %}
            <article>
                <div class="center faded">
                    <p>Click a paper above to view the questions.</p>
                </div>
            </article>
        {% endif %}
    {% endblock %}
</div>
{% endblock %}