{% extends 'views/base.html' %}

{% block title %}All Modules{% endblock %}

{% block page_title %}Categories{% endblock %}

{% block body %}
<div class="categories">
    <ul>
        {% for category in categories %}
            <li>{% if (category.modules | length) > 0 %}
                <a href="/modules/{{category.code}}">{{category.code}} - {{category.name}} ({{ category.modules | length }} modules)</a>
            {% else %}
                <strike>{{category.code}} - {{category.name}}</strike>
            {% endif %}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}